@{
    ViewBag.Title = "School";
}

<body>
    <header>
        <h1>Welcome Springfield High School</h1>
        
    
    </header>
    

   <section id="image">
       
   </section>







</body>
  




