@{
    ViewBag.Title = "Index";
}

<h1>Hola Bryan</h1>

<div class="row">
    <div class="col-md-9">
        Level 1: .col-md-9
        <div class="row">
            <div class="col-md-6">
                Level 2: .col-md-6
            </div>
            <div class="col-md-6">
                Level 2: .col-md-6
            </div>
        </div>
    </div>
</div>

<address>
    <strong>Twitter, Inc.</strong><br>
    795 Folsom Ave, Suite 600<br>
    San Francisco, CA 94107<br>
    <abbr title="Phone">P:</abbr> (123) 456-7890
</address>

<address>
    <strong>Full Name</strong><br>
    <a href="mailto:#">first.last@example.com</a>
</address>


<table class="table table-bordered">
    <tr class ="active">
        
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Points</th>
        </tr>
    <tr class="success">
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
    </tr>
    <tr class="warning">
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
    </tr>
    <tr class="danger" >
        <td>John</td>
        <td>Doe</td>
        <td>80</td>
    </tr>
</table>
